/* 
    Scroll to Top Button 
    https://codepen.io/jtleathers/pen/yLYejVG
*/

.scroll-top {
    background: transparent;
    border: none;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0;
    color: #fff200;
}
